@page "/add_product"
@inject IWebAppHttpClient HttpClient
@implements IDisposable

<PageTitle>Add Product</PageTitle>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Add Product</h5>
        <form>
            <div class="mb-3">
                <label for="productName" class="form-label">Product Name</label>
                <input type="text" class="form-control w-25" id="productName" @bind="@_name" placeholder="min-3, max-100 chars">
            </div>
            <div class="mb-3">
                <label for="productPrice" class="form-label">Price</label>
                <input type="number" class="form-control w-25" id="productPrice" @bind="@_price" step="0.05" min="0.01">
            </div>
            <button type="button" class="btn btn-primary" @onclick="AddProduct">Add Product</button>
            <span class="text-info">@($"{_infoMessage}")</span>
        </form>
    </div>
</div>

@code {
    private string _infoMessage = string.Empty;
    private string _name = string.Empty;
    private decimal _price = 0.01m;
    private readonly CancellationTokenSource _cts = new();

    private async Task AddProduct()
    {
        try
        {
            await HttpClient.AddProduct(new Product(_name, _price), _cts.Token);
            _infoMessage = "Success";
        }
        catch (Exception)
        {
            _infoMessage = "Failed";
        }
    }

    public void Dispose()
    {
        _cts.Dispose();
    }

}