@page "/delete_product"
@inject IWebAppHttpClient _httpClient
<PageTitle>Delete Product</PageTitle>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Search Product</h5>
        <form>
            <div class="mb-3">
                <label for="productId" class="form-label">Product ID</label>
                <input type="text" class="form-control w-25" id="productId" @bind="Id" placeholder="Product ID">
            </div>
            <button type="button" class="btn btn-primary" @onclick="SearchProduct">Search</button>
            <span class="text-info">@($"{InfoMessage1}")</span>
        </form>
    </div>
</div>

@if (_product != null)
{
    <div class="@_class">
        <div class="mt-3">
            <ProductPage Product="_product">
            </ProductPage>
        </div>
        <div class="d-flex align-items-end m-3">
            <button type="button" class="btn btn-primary " @onclick="DeleteProduct">Delete</button>
            <span class="text-info">@($"{InfoMessage2}")</span>
        </div>

    </div>
}


@code {
    private Guid Id { get; set; } = Guid.Empty;
    private Product? _product = null!;
    private string InfoMessage1 = string.Empty;
    private string InfoMessage2 = string.Empty;
    private string _class = string.Empty;
    private async Task DeleteProduct()
    {
        try
        {
            if (_product == null)
                throw new NullReferenceException(nameof(_product));
            await _httpClient.DeleteProduct(_product.Id);
            InfoMessage2 = "Success";
        }
        catch (Exception)
        {
            InfoMessage2 = "Failed";
        }
    }
    private async Task SearchProduct(MouseEventArgs e)
    {
        try
        {
            _product = await _httpClient.GetProduct(Id);
            InfoMessage1 = "Success";
            _class = string.Empty;
        }
        catch (Exception)
        {
            InfoMessage1 = "Failed";
        }
    }
}
