@inject IWebAppHttpClient HttpClient;
@page "/traffic"
@implements IDisposable

<div class="container">
    <h3>Traffic info</h3>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Path</th>
            <th scope="col">Redirect count</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _trafficInfo)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {
    private Dictionary<string, int> _trafficInfo = new();
    private readonly CancellationTokenSource _cts = new();
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _trafficInfo = await HttpClient.GetTraffic( _cts.Token);
    }

    public void Dispose()
    {
        _cts.Dispose();
    }

}